<!DOCTYPE html>
<html>
<head>
  <title>自社出品機能</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>自社出品機能</h1>
    <div class="userActions">
      <a href="#" class="registerLink">新規登録</a>
      <a href="#" class="loginLink">ログイン</a>
    </div>
  </header>

  <main>
    <div class="itemActions">
      <div class="item_addition">商品追加</div>
      <div class="item_detail">明細</div>
      <div class="item_total">合計</div>
    </div>
    <h2>商品検索</h2>
    <form class="searchForm">
      <input type="text" id="searchInput" placeholder="商品名を入力">
      <button type="submit">検索</button>
    </form>

    <div id="searchResults">
      <!-- 検索結果の表示領域 -->
    </div>
  </main>

  <footer>
  </footer>
</body>
</html>